.app {
    display: grid;
    height: 100vh;
    grid-template-rows: 70vh 30vh;
    background-image: url(../../assets/d914043a1becd2196c66f628275d64bb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    width: 20vw;
    height: 15vw;
    border-radius: 3vw;
}

.textPlace {
    width: 100vw;
    overflow: auto;
}

.text {
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 1vw; 
    padding: 0.5vw;
    color: white;
    background-image: url(../../assets/modern-futuristic-neon-purple-background-free-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3vw;
    word-wrap: break-word; 
}

@media all and (max-width: 768px) {

    .app {
        display: grid;
        grid-template-rows: 75vh 25vh;
    }    

    .logoImg {
        width: 40vw;
        height: 30vw;
        border-radius: 3vw;
    }

    .text {
   
        font-size: 4.5vw;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 4vw; 
        padding: 1vw;
        border-radius: 4vw;
    }
}